body {
	background: url(../images/bg_body.jpg);
	background-repeat: repeat;
}

/* a {
	text-decoration: none;
} */

ul li {
	display: block;
	margin: 0;
	padding: 0;
}

.header {
	padding-top: 41px;
	max-width: 980px;
	margin: 0 auto;
	position: relative;
	display: flex;
}

.mainmenu {

}

.mainmenu .menu-list {
	background-color: #f7f6f5;
	border-radius: 4px;
	/* color: #461500; */
	position: absolute;
	right: 0;
}

.mainmenu .menu-item {
	display: inline-block;
	padding: 0 30px;
	/* color: #461500; */
}

.mainmenu a {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	line-height: 47px;
	color: #461500;
	text-decoration: none;
}

.mainmenu a:hover {
	background-image: url(../images/bg_menu-item-active.png);
	
}

/* .header {
	padding-top: 42px;
} */

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 22px;
	line-height: normal;
	color: #ead4aa;
	margin-bottom: 20px;
}

.promo {
	margin: 0 auto;
	min-height: 116px;
	max-width: 810px;
	background-image: url(../images/bg_about.png), url(../images/bg_promo.png);
	background-color: #542805;
	background-repeat: no-repeat, repeat;
	background-position: 57px 31px, 0 0;
	border-radius: 8px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 14px;
	color: #f9da5a;
	line-height: 22px;
	padding: 20px 45px 20px 145px;
}

.article {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #d7cfc8;
	font-size: 11px;
	line-height: normal;
}

h2 {
	color: #fff68d;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
	max-width: 980px;
	margin: 0 auto;
	/* display: inline-block; */
	/* position: relative; */
}

.footer .copyright {
	color: #f9da5a;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
	line-height: 47px;
	/* position: absolute; */
	/* left: 0; */
}

.footer .menu-item {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
	line-height: 47px;
	padding: 0 4px;
	/* color: #fff; */
	display: inline-block;
	/* position: absolute;
	right: 0; */
	/* list-style: none; */
}

.footer .menu-list {
	color: #fff;
	box-sizing: border-box;
}

/* .footer .menu-item:nth-child(-n+5)::after {
	content: "|";
} */

.footer .menu-item:nth-child(n+2)::before {
	content: "|";
}

/* .menu-item .menu-item:nth-child(n+2)::before {
	content: "|";
} */

.footermenu a {
	color: #fff;
	text-decoration: none;
}
