body {

}

.mainmenu {

}

.mainmenu .menu-list {

}

.mainmenu .menu-item {

}

.mainmenu a {
	
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 22px;
	line-height: normal;
	color: #ead4aa;
	margin-bottom: 20px;
}

.promo {
	min-height: 116px;
	max-width: 1000px;
	background-image: url(../images/bg_about.png), url(../images/bg_promo.png);
	background-repeat: no-repeat, repeat;
	background-position: 57px 31px, 0 0;
	border-radius: 8px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 14px;
	color: #f9da5a;
	line-height: 22px;
	padding: 20px 45px 20px 145px;
}